{% extends "base.html" %}

{% block title %}Add Student{% endblock %}

{% block styles %}
<style>
    .card {
        border: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }
    .btn-success {
        background-color: #6f42c1;
        border: none;
    }
    .btn-success:hover {
        background-color: #5a32a3;
    }
    .container {
        max-width: 600px;
    }
</style>
{% endblock %}

{% block nav_title%}Edit Student {% endblock%}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-dark"></h2>
        <a href="{{ url_for('view_student') }}" class="btn btn-outline-secondary">← Back </a>
    </div>

    <div class="card mt-4 p-4">
        <form action="{{url_for('update', id = student.id)}}" method="POST">
            <div class="mb-3">
                <label class="form-label fw-semibold">First Name</label>
                <input type="text" name="first_name" class="form-control" value="{{student.first_name}}">
            </div>
            <div class="mb-3">
                <label class="form-label fw-semibold">Last Name</label>
                <input type="text" name="last_name" class="form-control" value="{{student.last_name}}">
            </div>
            <div class="mb-3">
                <label class="form-label fw-semibold">Email</label>
                <input type="email" name="email" class="form-control" value="{{student.email}}">
            </div>
            <div class="mb-3">
                <label class="form-label fw-semibold">Address</label>
                <input type="text" name="address" class="form-control" value="{{student.address}}">
            </div>
            <div class="mb-3">
                <label class="form-label fw-semibold">Phone</label>
                <input type="number" name="phone" class="form-control" value="{{student.phone}}">
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <button type="submit" class="btn btn-success w-50 ml-3 m-2">Save Changes</button>
                <a href="{{ url_for('view_student') }}" class="btn btn-secondary w-50 m-2">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
